
.form-section{
    padding: 4rem 0rem;
}

.nav-link{
    color: white;
}


.nav-link:focus, .nav-link:hover {
    color: white;
}

.nav-tabs{
    border: 1px solid #293950;
    background-color: #293950;
    padding: 10px;
    border-radius: 8px;
}



.nav-tabs .nav-item{
    width: 20%;
    border-radius: 8px;
}

.nav-tabs .nav-item .nav-link{
    font-weight: 500;
    width: 100%;
    border-radius: 8px;
    padding: 18px;
    font-size: 18px;
    color: #a7a7a5;
}

.nav-tabs .nav-link.active {
    color: #1d2a43;
}

.form-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 24px;
    border: 1px solid #293950;
    padding: 20px;
    border-radius: 5px;
}

.form-heading{
    margin-top: 24px;
    color: #ffffff;
}

.form-heading-para{
    color: burlywood;
}

.form-box .form-group{
    width: 49%;
}

.form-box .form-group select{
    height: 54px;
    background-color: #293950;
    border: 0;
}

.form-box .form-group input , .form-box .form-group select{
    color: #a7a7a5;
}

.form-box label{
    color: white;
    font-size: 18px;
    color: #a7a7a5;
    font-weight: 500;
}

.save-button{
    padding: 14px 43px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 48px;
    
}