@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: #1d2a43;
}

.navbar-section{
    font-family: "Raleway", sans-serif;
    color: white;
    box-shadow: 6px 6px 20px 0px rgba(6, 7, 13, 0.1)    
}

.navbar-section .nav-link{
    color: white;
}

.navbar-section a.nav-link.active {
    color: #e78a40;
    font-weight: 500;
    font-size: 18px;
}

.navbar-brand{
    color: white;
    font-weight: 600;
    font-size: 28px;
}


.hero-section{
    padding: 8rem 0rem;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.hero-section h1{
    color: white;
    font-weight: 500;
    line-height: 60px;
    font-size: 56px;
}

.hero-text{
    font-size: 16px;
    font-weight: 400;
    color: #c6bdbd;
}

.main-cta{
    font-size: 20px;
    width: 250px;
    font-weight: 600;
    background-color: #e78a40;
    padding: 14px;
}

.btn-fintellect-warning{
    background-color: #e78a40; 
    border-radius: 12px; 
}

.btn-fintellect-warning:hover{
    background-color: transparent;
    border: 1px solid #e78a40;
    color: #e78a40;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: transparent;
    border: 1px solid #e78a40;
    color: #e78a40;
}



.modal-content{
    background-color: #1d2a43;
}

.modal-body{
    /* display: flex; */
    justify-content: center;
    align-items: baseline;
}

.modal-header{
    border: 0;
}

.modal-heading-text{
    color: white;
    font-weight: 600;
    margin-bottom: 18px;

}

.login-modal form label{
    color: white;
    font-size: 18px;
    color: #a7a7a5;
    font-weight: 500;
}

.login-modal form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-control {
    height: 54px;
    background: #293950;
    color: #1d2a43;
    border: 0;
}

.sigup-button{
    height: 54px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 6px;
    color: white;
}

.btn-group{
    background: #293950;
    color: white;
    padding: 8px;
    border-radius: 12px;
}

.btn-group .btn{
    border: 0;
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 14px 32px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: white;
    border: 0px solid #e78a40;
    color: #1d2a43;
    border-radius: 12px;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.btn-outline-primary:hover{
    background-color: grey;
}

/* .google-signup{
    margin-top: 72px;
} */

.or-text {
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 24px;
    position: relative;
    z-index: 10;
}

.or-text::before{
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    background: white;
    z-index: 0;
}

.or-text span{
    background: #ffffff;
    color: #1d2a43;
    position: relative;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
}